		<div class="formulario">	
			<form id="cadastrarCurso" method="post" action="#">
                <h3>Cadastrar Curso</h3>
                
                <label>Nome:</label>
                <input type="text">
                
                <label>Sobrenome:</label>
                <input type="text">
                
                <label>C&oacute;digo:</label>
				<input type="text" >
                
                <label>Carga Hor&aacute;ria:</label>
                <input type="text">
                
				<label>N&iacute;vel de Ensino:</label>
                <select>
                    <option value="semopcao">Escolha uma Op&ccedil;&atilde;o</option>
                    <option value="superior">Superior</option>
					<option value="tecnico">T&eacute;cnico</option>
                    <option value="medio">M&eacute;dio</option>
                    <option value="fundamental1">Fundamental 1</option>
					<option value="fundamental2">Fundamental 2</option>
                </select>
                
                <label>Modalidade:</label>
                <select>
                    <option value="semopcao">Escolha uma Op&ccedil;&atilde;o</option>
                    <option value="superior">Superior</option>
					<option value="tecnico">T&eacute;cnico</option>
                    <option value="medio">M&eacute;dio</option>
                    <option value="fundamental1">Fundamental 1</option>
					<option value="fundamental2">Fundamental 2</option>
                </select>
                

                <label>Descri&ccedil;&atilde;o:</label>
                
                <textarea rows="10"></textarea>
                
                <input type="submit" value="Salvar">
                <input type="reset" value="Voltar">
                <input type="button" value="Limpar">
            </form>
        </div>
