<div class="formulario">
	<form id="cadastrarFrequencia" method="post" action="#">
		<h3>Cadastrar Frequ&ecirc;ncia</h3>
		<hr>
		<br>
		<label for="lbldate" name="lbldate">Data:</label>
		<input type="text" id="date" maxlength="10">
		<h5> Turma:1337</h5>
		<div>
			<table>
				<tbody><tr>
					<th>Alunos:</th>
					<th>Situa&ccedil;&atilde;o:</th>
					<th>Observa&ccedil;&otilde;es</th>
				</tr>
				<tr><td>001 - Milton Vinicius </td>
					<td align="center"><input type="radio" name="situacao1" value="Presente" id="radio" checked="">Presente
						<input type="radio" name="situacao1" value="Ausente" id="radio">Ausente</td> <td> <label for="lbljustificativa"> Justificativa: </label> <input type="text" name="justificativa"></td>
					</tr>
					<tr>
						<td>002 - Gustavo Fonseca </td>
						<td align="center"><input type="radio" name="situacao2" value="Presente" id="radio" checked="">Presente
							<input type="radio" name="situacao2" id="radio" value="Ausente">Ausente</td> <td> <label for="lbljustificativa"> Justificativa: </label><input type="text" name="justificativa"></td>
						</tr><tr>
						<td>003 - Ramom Calixto </td>
						<td align="center"><input type="radio" name="situacao3" value="Presente" checked="">Presente
							<input type="radio" name="situacao3" value="Ausente">Ausente</td> <td>  <label for="lbljustificativa"> Justificativa: </label><input type="text" name="justificativa"></td>
						</tr><tr>
						<td>004 - Isabele Teixeira</td>
						<td align="center"><input type="radio" name="situacao4" value="Presente" checked="">Presente
							<input type="radio" name="situacao4" value="Ausente">Ausente</td> <td>  <label for="lbljustificativa"> Justificativa: </label><input type="text" name="justificativa"></td>
						</tr><tr>
						<td>005 - Carlos Alexandre</td>
						<td align="center"><input type="radio" name="situacao5" value="Presente" checked="">Presente
							<input type="radio" name="situacao5" value="Ausente">Ausente</td> <td>  <label for="lbljustificativa"> Justificativa: </label><input type="text" name="justificativa"></td>
						</tr><tr>
						<td>006 - Lucas Santos</td>
						<td align="center"><input type="radio" name="situacao6" value="Presente" checked="">Presente
							<input type="radio" name="situacao6" value="Ausente">Ausente</td> <td>  <label for="lbljustificativa"> Justificativa: </label><input type="text" name="justificativa"></td>
						</tr><tr>
						<td>007 - Sylas Eckart</td>
						<td align="center"><input type="radio" name="situacao7" value="Presente" checked="">Presente
							<input type="radio" name="situacao7" value="Ausente">Ausente</td> <td>  <label for="lbljustificativa"> Justificativa: </label><input type="text" name="justificativa"></td>
						</tr>
					</tbody></table>
					<br><br>
				</div>
				<input type="button" value="Salvar">
				<input type="button" value="Limpar">
				<input type="button" value="Voltar">
			</form>
		</div>