		<div class="formulario">
			<form id="cadastrarDisciplina" method="post" action="#">
				<h3>Cadastrar Disciplina</h3>
				
				
				<label  for="lblCodigoDisciplina"> C&oacute;digo da Disciplina: </label>
				<input type="text" name="lblCodigoDisciplina" id="txtCodigoDisciplina">
				
				<label  for="lblNomeDisciplina"> Nome da Disciplina: </label>
				<input type="text" name="lblNomeDisciplina" id="txtNomeDisciplina">
				
				<label  for="lblCargaHorariaDisciplina"> Carga Hor&aacute;ria: </label>
				<input type="text" name="lblCargaHorariaDisciplina" id="txtCargaHorariaDisciplina">
				
				
				<input type="submit" id="btnVoltar" value="Voltar">
				<input type="reset" id="btnLimpar" value="Limpar">
				<input type="submit" id="btnCadastrar" value="Cadastrar">
			</form>
